
<ol>
    <li><a asp-action="TopUpWallet">Add Money to Digital Wallet</a></li>
    <li><a asp-controller="Artist" asp-action="SelectArtist">Dropdown List of Artist</a></li>
    <li><a asp-controller="Song" asp-action="Tops">Tops</a></li>
    <li><a asp-action="Index">Pick a user to buy songs</a></li>
    <li><a asp-action="SongsByUser">Dropdown List of Users</a></li>
</ol>
