@model IEnumerable<MyiTunes.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="User" asp-action="Index1">Index</a>
    <a asp-action="SelectArtist">Dropdown Artist</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Artists
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
        </tr>
}
    </tbody>
</table>
